<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Inscription</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup] = "form">
    <ion-card>
      <ion-card-header>Inscription</ion-card-header>
      <ion-card-content>
        <ion-chip *ngIf="message"  color="danger">
          <ion-label color="dark">{{message}}</ion-label>
        </ion-chip>

        <ion-item>
          <ion-icon name="person"></ion-icon>
          <ion-label color="primary" stacked></ion-label>
          <ion-input type="text" formControlName ="nom"  placeholder="Nom"></ion-input>
        </ion-item>
      
        <ion-item>
          <ion-icon name="person"></ion-icon>
          <ion-label color="primary" stacked></ion-label>
          <ion-input type="text" formControlName = "prenom" placeholder="Prenoms"></ion-input>
        </ion-item>
        
        <ion-item>
          <ion-icon name="phone-portrait"></ion-icon>
          <ion-label color="primary" stacked></ion-label>
          <ion-input type="text" formControlName ="numero"  placeholder="Numero"></ion-input>
        </ion-item>
      
        <ion-item>
          <ion-icon name="key"></ion-icon>
          <ion-label color="primary" stacked></ion-label>
          <ion-input type="password" formControlName = "mdp" placeholder="Password"></ion-input>
        </ion-item>
        
      <ion-button color="success"  (click) = "inscription()" >S'inscrire</ion-button>
      <ion-button color="secondary" [routerLink] = "['/']" >J'ai un compte</ion-button>
      </ion-card-content>
    </ion-card>
</form>
</ion-content>
