
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Mon Compte</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="compte" >
  <ion-card>
    <ion-card-header>
      <ion-card-title>Bienvenue {{compte.prenom}}!!</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-list >
        <ion-item-divider>
          <ion-label>
            Detail de votre compte:
          </ion-label>
        </ion-item-divider>
      
        <ion-item><ion-label color="primary">Nom : {{compte.nom}}</ion-label></ion-item>
        <ion-item><ion-label color="primary">Prenoms : {{compte.prenom}}</ion-label></ion-item>
        <ion-item><ion-label color="primary">Numero : {{compte.numero}}</ion-label></ion-item>
        <ion-item><ion-label color="primary">Solde MVola: {{compte.solde}} Ar</ion-label></ion-item>
        <ion-item><ion-label color="primary">Credit : {{compte.credit}} Ar</ion-label></ion-item>
        </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
