<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Info Consommation</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-card>

  	<ion-item color="tertiary" lines="none">
        <ion-icon name="cafe" slot="start"></ion-icon>
        <ion-icon name="more" slot="end"></ion-icon>
    </ion-item>
    <ion-item color="tertiary" lines="none">
        <ion-label>
          	ion-item in a card,
        </ion-label>
    </ion-item>
  
</ion-card>

</ion-content>