<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Achat De Forfaits</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="forfaits" >
 
  <ion-row >
    <ion-col size="1">
    </ion-col>
    <ion-col>
      <ion-text  *ngIf="offre" color="secondary">
        <h1> Achat de forfait {{offre.nomOffre}}</h1>
      </ion-text>
    </ion-col>
  </ion-row>

    <ion-row *ngFor="let forfait of forfaits" >
      <ion-col size="1">
      </ion-col>
      <ion-col>
        <ion-button [routerLink] ="'/forfait/'+forfait.idForfait" expand="block" size ="large" color="warning" class="offre"  >
          {{forfait.nomforfait}} 
        </ion-button>
      </ion-col>
      <ion-col size="2">
        <ion-fab-button [routerLink] ="'/forfait/'+forfait.idForfait+'/info'" color="warning" size="small">
          <ion-icon name="information"></ion-icon>
        </ion-fab-button>
      </ion-col>
    </ion-row>

</ion-content>

